<!DOCTYPE html>
<html lang="en">
<style>
    body {
        background: #292929;
    }
    h1 {
        text-align: center;
        padding-top: 20px;
    }
    a:link {
        color: floralwhite;
    }
    a:visited {
        color: fuchsia;
    }
    .content {
        max-width: 900px;
        margin: auto;
        justify-content: center;
        font: 18px sans-serif;
        color: floralwhite;
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
    <div class="content">
        <h1 style="font-size: 60px; font-weight: bold">About</h1>
        <p>
            <br>
            Helios uses modeled history and projection data to help you choose the best possible place for retirement
            while considering climate change factors. The projections are based on two scenarios: humans changing
            course to significantly lower emissions, or humans continuing on the current course to increasingly
            higher emissions.
        </p>
        <p>
            To use the program, choose a location and the decade you plan to retire and we will search our database
            for climate change projections so you can make an informed decision about where to retire.
        </p>
        <p style="text-align: center">
            <br><br>
            All data is courtesy of the <a href="https://crt-climate-explorer.nemac.org/">NOAA Climate Explorer</a>.
        </p>
        <p style="text-align: center">
            <br><br><br><br>
            <a href="home">Return to home</a>
        </p>
    </div>
</body>
</html>