<!DOCTYPE html>
<HTML>
<!--Meta-->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Styles -->
<style>
#chartdiv {
  width: 100%;
  height: 500px
}

.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}
</style>

<!-- Resources -->
<script src="https://cdn.amcharts.com/lib/5/index.js"></script>
<script src="https://cdn.amcharts.com/lib/5/map.js"></script>
<script src="https://cdn.amcharts.com/lib/5/geodata/usaLow.js"></script>
<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>

<!-- Chart code -->
<script>
am5.ready(function() {

// Create root
var root = am5.Root.new("chartdiv"); 

// Set themes
root.setThemes([
  am5themes_Animated.new(root)
]);

// Create chart
var chart = root.container.children.push(am5map.MapChart.new(root, {
  panX: "rotateX",
  panY: "none",
  projection: am5map.geoAlbersUsa(),
  layout: root.horizontalLayout
}));

// Create polygon series
var polygonSeries = chart.series.push(am5map.MapPolygonSeries.new(root, {
  geoJSON: am5geodata_usaLow,
  valueField: "value",
  calculateAggregates: true
}));

polygonSeries.mapPolygons.template.setAll({
  tooltipText: "{name}: {value}"
});

polygonSeries.set("heatRules", [{
  target: polygonSeries.mapPolygons.template,
  dataField: "value",
  min: am5.color(0x2AA517),
  max: am5.color(0xA51717),
  key: "fill"
}]);

//0xff621f),
//0x661f00

polygonSeries.mapPolygons.template.events.on("pointerover", function(ev) {
  heatLegend.showValue(ev.target.dataItem.get("value"));
});

/* 2020 values
polygonSeries.data.setAll([
  { id: "US-AL", value: 3.16 },
  { id: "US-AK", value: 2.26 },
  { id: "US-AZ", value: 3.72 },
  { id: "US-AR", value: 2.78 },
  { id: "US-CA", value: 2.80 },
  { id: "US-CO", value: 1.63 },
  { id: "US-CT", value: 1.63 },
  { id: "US-DE", value: 2.72 },
  { id: "US-FL", value: 3.72 },
  { id: "US-GA", value: 2.69 },
  { id: "US-HI", value: 4.74 },
  { id: "US-ID", value: 1.99 },
  { id: "US-IL", value: 2.66 },
  { id: "US-IN", value: 2.36 },
  { id: "US-IA", value: 2.01 },
  { id: "US-KS", value: 2.60 },
  { id: "US-KY", value: 3.30 },
  { id: "US-LA", value: 3.15 },
  { id: "US-ME", value: 2.26 },
  { id: "US-MD", value: 2.66 },
  { id: "US-MA", value: 2.80 },
  { id: "US-MI", value: 2.49 },
  { id: "US-MN", value: 1.80 },
  { id: "US-MS", value: 3.71 },
  { id: "US-MO", value: 4.28 },
  { id: "US-MT", value: 3.23 },
  { id: "US-NE", value: 2.26 },
  { id: "US-NV", value: 3.12 },
  { id: "US-NH", value: 2.75 },
  { id: "US-NJ", value: 2.31 },
  { id: "US-NM", value: 2.08 },
  { id: "US-NY", value: 4.10 },
  { id: "US-NC", value: 3.51 },
  { id: "US-ND", value: 3.44 },
  { id: "US-OH", value: 3.51 },
  { id: "US-OK", value: 2.52 },
  { id: "US-OR", value: 2.30 },
  { id: "US-PA", value: 2.59 },
  { id: "US-RI", value: 2.27 },
  { id: "US-SC", value: 2.26 },
  { id: "US-SD", value: 2.89 },
  { id: "US-TN", value: 2.21 },
  { id: "US-TX", value: 2.26 },
  { id: "US-UT", value: 3.09 },
  { id: "US-VT", value: 2.67 },
  { id: "US-VA", value: 2.03 },
  { id: "US-WA", value: 2.60 },
  { id: "US-WV", value: 3.73 },
  { id: "US-WI", value: 3.50 },
  { id: "US-WY", value: 3.21 }
]);
*/

// 2040 Averages to decimals
polygonSeries.data.setAll([
  { id: "US-AL", value: 4.16 },
  { id: "US-AK", value: 3.26 },
  { id: "US-AZ", value: 4.72 },
  { id: "US-AR", value: 3.78 },
  { id: "US-CA", value: 3.80 },
  { id: "US-CO", value: 2.63 },
  { id: "US-CT", value: 2.63 },
  { id: "US-DE", value: 3.72 },
  { id: "US-FL", value: 4.72 },
  { id: "US-GA", value: 3.69 },
  { id: "US-HI", value: 5.74 },
  { id: "US-ID", value: 2.99 },
  { id: "US-IL", value: 3.66 },
  { id: "US-IN", value: 3.36 },
  { id: "US-IA", value: 3.01 },
  { id: "US-KS", value: 3.60 },
  { id: "US-KY", value: 4.30 },
  { id: "US-LA", value: 4.30 },
  { id: "US-ME", value: 3.26 },
  { id: "US-MD", value: 3.66 },
  { id: "US-MA", value: 3.80 },
  { id: "US-MI", value: 3.49 },
  { id: "US-MN", value: 2.80 },
  { id: "US-MS", value: 4.71 },
  { id: "US-MO", value: 5.28 },
  { id: "US-MT", value: 4.23 },
  { id: "US-NE", value: 3.26 },
  { id: "US-NV", value: 4.12 },
  { id: "US-NH", value: 3.75 },
  { id: "US-NJ", value: 3.31 },
  { id: "US-NM", value: 3.08 },
  { id: "US-NY", value: 5.10 },
  { id: "US-NC", value: 4.51 },
  { id: "US-ND", value: 4.44 },
  { id: "US-OH", value: 4.51 },
  { id: "US-OK", value: 3.52 },
  { id: "US-OR", value: 3.30 },
  { id: "US-PA", value: 3.59 },
  { id: "US-RI", value: 3.27 },
  { id: "US-SC", value: 3.26 },
  { id: "US-SD", value: 3.89 },
  { id: "US-TN", value: 4.21 },
  { id: "US-TX", value: 3.26 },
  { id: "US-UT", value: 4.09 },
  { id: "US-VT", value: 3.67 },
  { id: "US-VA", value: 3.03 },
  { id: "US-WA", value: 3.60 },
  { id: "US-WV", value: 4.73 },
  { id: "US-WI", value: 4.50 },
  { id: "US-WY", value: 4.21 }
]);

// 2060 Averages to decimals
/*
polygonSeries.data.setAll([
  { id: "US-AL", value: 5.16 },
  { id: "US-AK", value: 4.26 },
  { id: "US-AZ", value: 4.72 },
  { id: "US-AR", value: 4.78 },
  { id: "US-CA", value: 4.80 },
  { id: "US-CO", value: 4.67 },
  { id: "US-CT", value: 4.63 },
  { id: "US-DE", value: 4.72 },
  { id: "US-FL", value: 5.72 },
  { id: "US-GA", value: 4.69 },
  { id: "US-HI", value: 6.74 },
  { id: "US-ID", value: 3.99 },
  { id: "US-IL", value: 4.66 },
  { id: "US-IN", value: 4.36 },
  { id: "US-IA", value: 4.01 },
  { id: "US-KS", value: 4.60 },
  { id: "US-KY", value: 5.30 },
  { id: "US-LA", value: 5.15 },
  { id: "US-ME", value: 4.26 },
  { id: "US-MD", value: 4.66 },
  { id: "US-MA", value: 4.80 },
  { id: "US-MI", value: 4.49 },
  { id: "US-MN", value: 4.80 },
  { id: "US-MS", value: 4.71 },
  { id: "US-MO", value: 6.28 },
  { id: "US-MT", value: 5.23 },
  { id: "US-NE", value: 4.26 },
  { id: "US-NV", value: 5.12 },
  { id: "US-NH", value: 4.75 },
  { id: "US-NJ", value: 4.31 },
  { id: "US-NM", value: 4.08 },
  { id: "US-NY", value: 6.10 },
  { id: "US-NC", value: 5.51 },
  { id: "US-ND", value: 4.44 },
  { id: "US-OH", value: 5.51 },
  { id: "US-OK", value: 4.52 },
  { id: "US-OR", value: 4.30 },
  { id: "US-PA", value: 4.59 },
  { id: "US-RI", value: 4.27 },
  { id: "US-SC", value: 4.26 },
  { id: "US-SD", value: 4.89 },
  { id: "US-TN", value: 4.21 },
  { id: "US-TX", value: 4.26 },
  { id: "US-UT", value: 5.09 },
  { id: "US-VT", value: 4.67 },
  { id: "US-VA", value: 4.03 },
  { id: "US-WA", value: 4.60 },
  { id: "US-WV", value: 5.73 },
  { id: "US-WI", value: 5.50 },
  { id: "US-WY", value: 5.21 }
]);
*/

/*
polygonSeries.data.setAll([
  { id: "US-AL", value: 6.16 },
  { id: "US-AK", value: 5.26 },
  { id: "US-AZ", value: 5.72 },
  { id: "US-AR", value: 5.78 },
  { id: "US-CA", value: 5.80 },
  { id: "US-CO", value: 5.67 },
  { id: "US-CT", value: 5.63 },
  { id: "US-DE", value: 5.72 },
  { id: "US-FL", value: 5.72 },
  { id: "US-GA", value: 5.69 },
  { id: "US-HI", value: 7.74 },
  { id: "US-ID", value: 4.99 },
  { id: "US-IL", value: 5.66 },
  { id: "US-IN", value: 5.36 },
  { id: "US-IA", value: 5.01 },
  { id: "US-KS", value: 5.60 },
  { id: "US-KY", value: 6.30 },
  { id: "US-LA", value: 6.15 },
  { id: "US-ME", value: 5.26 },
  { id: "US-MD", value: 5.66 },
  { id: "US-MA", value: 5.80 },
  { id: "US-MI", value: 5.49 },
  { id: "US-MN", value: 5.80 },
  { id: "US-MS", value: 5.71 },
  { id: "US-MO", value: 7.28 },
  { id: "US-MT", value: 6.23 },
  { id: "US-NE", value: 5.26 },
  { id: "US-NV", value: 6.12 },
  { id: "US-NH", value: 5.75 },
  { id: "US-NJ", value: 5.31 },
  { id: "US-NM", value: 5.08 },
  { id: "US-NY", value: 7.10 },
  { id: "US-NC", value: 6.51 },
  { id: "US-ND", value: 5.44 },
  { id: "US-OH", value: 6.51 },
  { id: "US-OK", value: 5.52 },
  { id: "US-OR", value: 5.30 },
  { id: "US-PA", value: 5.59 },
  { id: "US-RI", value: 5.27 },
  { id: "US-SC", value: 5.26 },
  { id: "US-SD", value: 5.89 },
  { id: "US-TN", value: 5.21 },
  { id: "US-TX", value: 5.26 },
  { id: "US-UT", value: 6.09 },
  { id: "US-VT", value: 5.67 },
  { id: "US-VA", value: 5.03 },
  { id: "US-WA", value: 5.60 },
  { id: "US-WV", value: 6.73 },
  { id: "US-WI", value: 6.50 },
  { id: "US-WY", value: 6.21 }
]);
*/

var heatLegend = chart.children.push(am5.HeatLegend.new(root, {
  orientation: "vertical",
  startColor: am5.color(0x2AA517),
  endColor: am5.color(0xA51717),
  startText: "Comfy",
  endText: "Not Comfy",
  stepCount: 5
}));

//(0x661f00),
//0xff621f

heatLegend.startLabel.setAll({
  fontSize: 12,
  fill: heatLegend.get("startColor")
});

heatLegend.endLabel.setAll({
  fontSize: 12,
  fill: heatLegend.get("endColor")
});

// change this to template when possible
polygonSeries.events.on("datavalidated", function () {
  heatLegend.set("startValue", polygonSeries.getPrivate("valueLow"));
  heatLegend.set("endValue", polygonSeries.getPrivate("valueHigh"));
});

}); // end am5.ready()

function analyzeDropDown() {
	document.getElementById('decades').value
	alert("SUCCESS");
	
	switch(document.getElementById('dropdown').value) {
		case "2020":
			alert("2020");
			break
		case "2040":
			alert("2040");
			break
		case "2060":
			alert("2060");
			break
		case "2080":
			alert("2080");
			break
	}
}

</script>
<script>
document.getElementById('submit').onclick = function() {
    var e = document.getElementById("decades");
    var text = e.options[e.selectedIndex].text;
    document.getElementById("decades").innerHTML = 'The selected text is ' + text;

}
</script>

<label for ="decades">Choose a decade:</label>
<select name="decades" id="decades">
    <option value="2020">2020</option>
    <option value="2040">2040</option>
    <option value="2060">2060</option>
    <option value="2080">2080</option>
</select>
 
<button id='submit'>Results</button>


<!-- HTML -->
<div id="chartdiv"></div>

</html>