<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome, please login to continue.</title>
    <style>
        body{
            background-color:#121212;
            color:lightgray;
        }
        div {
            margin-bottom: 5px;
        }
        label {
            display: block;
            float: left;
            width: 150px;
            text-align: right;
            font-weight: bold;
            margin-right: 10px;
        }
        input.submit {
            margin-left: 160px;
        }
    </style>
</head>
<body>
{% extends "layout.html" %}
{% block body %}
  <h1>Please login to continue</h1>
  {% if error %}
    <p class=error><strong>Login failed:</strong> {{ error }}
  {% endif %}
    <form action="http://localhost:5000/login" method="post">
        <div>
            <label for="username">Username</label>
            <input type="text" name="username">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password">
        </div>
        <div>
            <input type="submit" class="submit" value="Log in">
        </div>
    </form>
{% endblock %}
</body>
</html>